In [220]:
import requests
import pandas as pd

In [223]:
def get_ticker(stri):
    url = f'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords={stri}&apikey=DJ5ATAVVQLJE2IFG'
    r = requests.get(url)
    data = r.json()
    return str(pd.DataFrame(data["bestMatches"]).iloc[0][0])

def get_data(ticker="TIME_SERIES_INTRADAY",sym="IBM"):
    text="TIME_SERIES_INTRADAY"
    url = f"https://www.alphavantage.co/query?function={ticker}&symbol={sym}&interval=5min&apikey=DJ5ATAVVQLJE2IFG"
    r = requests.get(url)
    data = r.json()
    return data

def clean_col_names(df):
    for i in df.columns:
        df.rename(columns={i:i.split(sep=" ")[1].upper()}, inplace=True)
        df.index = pd.to_datetime(df.index)
        for i in df.columns:
            df[i]=pd.to_numeric(df[i])
    return df

def get_details(data):
    print(f'The {data["Meta Data"].get("1. Information")} with stock = {data["Meta Data"].get("2. Symbol")} was last refreshed at {data["Meta Data"].get("3. Last Refreshed")} with timezone = {data["Meta Data"].get("5. Time Zone")}')

data=get_data(ticker="TIME_SERIES_DAILY_ADJUSTED",sym=get_ticker(input()))
to_get=list(data)[1]

df = pd.DataFrame(data[to_get]).T

clean_col_names(df)
get_details(data)

The Daily Time Series with Splits and Dividend Events with stock = RELIANCE.BSE was last refreshed at 2023-06-16 with timezone = US/Eastern

In [224]:
df

,OPEN,HIGH,LOW,CLOSE,ADJUSTED,VOLUME,DIVIDEND,SPLIT
2023-06-16,2555.6001,2581.0000,2555.6001,2575.3999,2575.3999,150565,0.0,1.0
2023-06-15,2547.0500,2561.8999,2535.2000,2551.5500,2551.5500,284440,0.0,1.0
2023-06-14,2518.0500,2555.0000,2516.6001,2552.6001,2552.6001,196737,0.0,1.0
2023-06-13,2490.7500,2523.3000,2486.2500,2520.3999,2520.3999,205509,0.0,1.0
2023-06-12,2478.0000,2489.0000,2465.1001,2483.1001,2483.1001,75549,0.0,1.0
...,...,...,...,...,...,...,...,...
2023-01-27,2381.9500,2388.0500,2312.1001,2337.7500,2337.7500,452582,0.0,1.0
2023-01-25,2410.0000,2414.8000,2381.0000,2382.9500,2382.9500,103914,0.0,1.0
2023-01-24,2432.5000,2443.8999,2388.6499,2415.1499,2415.1499,349349,0.0,1.0
2023-01-23,2450.0000,2466.0000,2426.0000,2429.6001,2429.6001,213860,0.0,1.0
2023-01-20,2481.7000,2481.7000,2438.1001,2442.7000,2442.7000,174012,0.0,1.0